<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Anuncios Bienes Raices</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/index.css">
</head>
<body>
	<header>
		<div class="contactos__nav">
			<div class="nav__logo">
				<a href="../index.html"><img class="zoom__hover" src="../img/logo.svg"></a>
			</div>
			<div class="nav__menu">
				<a href="./contactos.html"><button>Contactos</button></a>
				<a href="./anuncios.html"><button>Anuncios</button></a>
				<a href=""><button>Blog</button></a>
			</div>
		</div>
	</header>
	<main>
		<div class="main__ventas">
			<div class="views__tittle">
				<p>Casas y Depas en Venta</p>
			</div>
			<div class="ventas__items">			
				<div>
					<img class="ventas__img" src="../img/anuncio1.jpg">
					<h4>Casa de Lujo en el Lago</h4>
					<p>ipsum dolor sit amet, consectetur adipisicing elit.
					ipsum dolor sit amet.</p>
					<p class="ventas__price">$3.000.000</p>

					<div class="ventas__icon">
						<div>
							<img src="../img/icono_wc.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_estacionamiento.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_dormitorio.svg">
							<p>3</p>
						</div>
					</div>

					<button class="ventas__see">VER PROPIEDAD</button>
				</div>
				<div>
					<img class="ventas__img" src="../img/anuncio2.jpg">
					<h4>Casa de Lujo en el Lago</h4>
					<p>ipsum dolor sit amet, consectetur adipisicing elit.
					ipsum dolor sit amet.</p>
					<p class="ventas__price">$3.000.000</p>

					<div class="ventas__icon">
						<div>
							<img src="../img/icono_wc.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_estacionamiento.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_dormitorio.svg">
							<p>3</p>
						</div>
					</div>
					
					<button class="ventas__see">VER PROPIEDAD</button>
				</div>
				<div>
					<img class="ventas__img" src="../img/anuncio3.jpg">
					<h4>Casa de Lujo en el Lago</h4>
					<p>ipsum dolor sit amet, consectetur adipisicing elit.
					ipsum dolor sit amet.</p>
					<p class="ventas__price">$3.000.000</p>

					<div class="ventas__icon">
						<div>
							<img src="../img/icono_wc.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_estacionamiento.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_dormitorio.svg">
							<p>3</p>
						</div>
					</div>					
					<button class="ventas__see">VER PROPIEDAD</button>
				</div>
			</div>
			<div class="ventas__items">			
				<div>
					<img class="ventas__img" src="../img/anuncio4.jpg">
					<h4>Casa de Lujo en el Lago</h4>
					<p>ipsum dolor sit amet, consectetur adipisicing elit.
					ipsum dolor sit amet.</p>
					<p class="ventas__price">$3.000.000</p>

					<div class="ventas__icon">
						<div>
							<img src="../img/icono_wc.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_estacionamiento.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_dormitorio.svg">
							<p>3</p>
						</div>
					</div>

					<button class="ventas__see">VER PROPIEDAD</button>
				</div>
				<div>
					<img class="ventas__img" src="../img/anuncio5.jpg">
					<h4>Casa de Lujo en el Lago</h4>
					<p>ipsum dolor sit amet, consectetur adipisicing elit.
					ipsum dolor sit amet.</p>
					<p class="ventas__price">$3.000.000</p>

					<div class="ventas__icon">
						<div>
							<img src="../img/icono_wc.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_estacionamiento.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_dormitorio.svg">
							<p>3</p>
						</div>
					</div>

					
					<button class="ventas__see">VER PROPIEDAD</button>
				</div>
				<div>
					<img class="ventas__img" src="../img/anuncio6.jpg">
					<h4>Casa de Lujo en el Lago</h4>
					<p>ipsum dolor sit amet, consectetur adipisicing elit.
					ipsum dolor sit amet.</p>
					<p class="ventas__price">$3.000.000</p>

					<div class="ventas__icon">
						<div>
							<img src="../img/icono_wc.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_estacionamiento.svg">
							<p>3</p>
						</div>
						<div>
							<img  src="../img/icono_dormitorio.svg">
							<p>3</p>
						</div>
					</div>					
					<button class="ventas__see">VER PROPIEDAD</button>
				</div>
			</div>
			<br>
		
		</div>
	</main>




	<footer>
		<div class="footer__menu">
			<a href="./contactos.html"><button>Contactos</button></a>
			<a href="./anuncios.html"><button>Anuncios</button></a>
			<a href=""><button>Blog</button></a>
		</div>
		<div class="copy">
			<a href="">Copyright by Florence</a>
		</div>
	</footer>
	
</body>
</html>