<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Nosotros Bienes Raices</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/index.css">
</head>
<body>
	<header>
		<div class="contactos__nav">
			<div class="nav__logo">
				<a href="../index.html"><img class="zoom__hover" src="../img/logo.svg"></a>
			</div>
			<div class="nav__menu">
				<a href="./contactos.html"><button>Contactos</button></a>
				<a href="./anuncios.html"><button>Anuncios</button></a>
				<a href=""><button>Blog</button></a>
			</div>
		</div>
	</header>
	<main>
		<div class="views__tittle">
			<p>Conoce Sobre Nosotros</p>
		</div>
		<div class="about__blog">
			<div class="about__img">
				<img src="../img/blog3.jpg">
			</div>
			<div class="about__info">
				<p class="info__title">25 años de Experiencia</p>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
		<div class="about">
			<div class="first__tittle">
				<p>Más sobre Nosotros</p>
			</div>
			<div class="about__items">			
				<div>
					<img src="../img/icono1.svg">
					<h3>Seguridad</h3>
					<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				</div>
				<div>
					<img src="../img/icono2.svg">
					<h3>Precio</h3>
					<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				</div>
				<div>
					<img src="../img/icono3.svg">
					<h3>Tiempo</h3>
					<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				</div>
			</div>
		</div>
	</main>




	<footer>
		<div class="footer__menu">
			<a href="./contactos.html"><button>Contactos</button></a>
			<a href="./anuncios.html"><button>Anuncios</button></a>
			<a href=""><button>Blog</button></a>
		</div>
		<div class="copy">
			<a href="http://cursofullstackphp.foxit.com.ar/comision2014/Florencia_Natali_Ojeda/" target="_blank">Copyright by Florence</a>
		</div>
	</footer>
	
</body>
</html>